:root {
--color00: #141414;
--color01: #141414;
--color02: #141414;
--color03: #9b9b9b;
--color04: #c7c7c7;
--color05: #d4d4d4;
--color06: #c7c7c7;
--color07: #c7c7c7;
--color08: #c44e55;
--color09: #edd89a;
--color0A: #fae5a7;
--color0B: #95cc8f;
--color0C: #884bba;
--color0D: #88b4df;
--color0E: #ba5388;
--color0F: #c8585d;
}
