window {
    background: #141414; /* base01 */
    border-color: #242424; /* base02 */
    border: 2px solid #242424;
}

button,
image {
    color: #c7c7c7; /* base07 */
}

button {
    color: #9b9b9b; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(36, 36, 36, 0.5); /* base02 */
}
