@define-color selected-text #edd89a;
@define-color selected-vibrant #fae5a7;
@define-color text #9b9b9b;
@define-color base #141414;
@define-color border #242424;
@define-color foreground #9b9b9b;
@define-color background #141414;
