@define-color selected-text #edd89a;
@define-color selected-vibrant #fae5a7;
@define-color text #d4d4d4;
@define-color base #141414;
@define-color border #242424;
@define-color foreground #d4d4d4;
@define-color background #141414;
