@define-color background #141414;
@define-color foreground #d4d4d4;
@define-color black #141414;
@define-color red #c44e55;
@define-color green #95cc8f;
@define-color yellow #edd89a;
@define-color blue #88b4df;
@define-color magenta #ba5388;
@define-color cyan #884bba;
@define-color white #9b9b9b;
@define-color bright_black #242424;
@define-color bright_red #c8585d;
@define-color bright_green #addfa6;
@define-color bright_yellow #fae5a7;
@define-color bright_blue #8fbde6;
@define-color bright_magenta #cf5c97;
@define-color bright_cyan #9e5ccf;
@define-color bright_white #c7c7c7;
